/* Reset */
html,body,div,span,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,cite,code,del,em,img,strong,sub,sup,tt,dl,dt,dd,ol,ul,li,form,label,legend{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}
:focus{outline:0}

/* Generic settings */
a { text-decoration: none; }
a:hover { text-decoration: none; }
a:visited { text-decoration: none; }

body {   
  background-color: #20232B; 
  line-height:1; 
  font-family: "Lucida Grande", "Trebuchet MS";   
  text-align: center; /* For the stupidity that is IE6 */
}

/* Page container */
#container { 
  background-color: #20232B;  
  margin-left: auto;  
  margin-right: auto;
  margin-top: 10px; 
  margin-bottom: 5px; 
  width: 800px;
  text-align: left; /* Override body text-align to get proper default text-alignment */
}

/* Page header */
#header {    
  height: 300px;  
  background: #000 url('../img/banner.jpg') no-repeat;  
}

/* Left navigation #4B050D */
#sidebar{
  float: left;
  border-top: 3px solid #445772;    
  border-bottom: 1px solid #BBB;
  left: 0px;
  top: 200px;
  width: 160px;
  height: 100%;
  padding-top: 0px;     
  color: #CCC;
  background-color: #FFF;  
  font-size: 12px; 
}

#sidebar ul {
  list-style: none;
  background-color: #FFF;
}

#sidebar a {
	color: #000;
	width: auto;
	display: block;
}

#sidebar li  {
  color: #000;   
  padding: 5px; 
}

#sidebar li:hover.menuItem {  
  font-weight: bold;    
  text-decoration: none;
  background-color: #FC0; 
}

#sidebar .title , #sidebar .title a{
  color: #8A0917; 
}
#sidebar .title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #BBB;
}

#sidebar .title:hover { 
  background-color: #FFF;  
}

#sidebar li.current {    
  color: #FFF;
  background-color: #BBB;  
}

#menu form {		
	font-weight: none;
	padding: 5px;
	background-color: #FFF; 
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;	
}

#sidebar label
{	
	width: 4em;	
	text-align: left;	
	display: block;
}

#sidebar input 
{	
    padding: 0px;
	width: 145px;
	display: block;	
}

#sidebar input.submit {
    padding: 0px;
	width: 50px
}

#sidebar p.submit
{
	margin-top: 4px;
} 

/* Content pane B8AE9C*/
#content {   
  border-top: 3px solid #8A0917;
  border-left: 1px solid #BBB; 
  padding: 10px;  
  margin-right: 0px;  
  margin-left: 160px;
  background-color: #FFF;
}

#content strong{
  font-size: 14px;
  font-weight: bold;
}

#content.contentNoMenu
{
  margin-left: auto;
}

#content h2 {  
  color: #8A0917;
  padding-top: 10px;
  padding-left: 10px;  
  font-size: 18px;
}

#content h3 {
  color: #B8AE9C;
  padding-top: 2px;
  padding-left: 10px;  
  font-size: 10px;
}

#content p , #content ul{  
  font-size: 12px;
  padding-top: 10px;  
  padding-bottom: 2px;  
  margin-left: 10px;
  line-height:1.5;
}

#content p.msg
{
	margin-top: 10px;
	background-color: #99FF99;
	padding: 5px;
	border: 1px solid #009900;
}

#content p.msg a {
	color: #8A0917;
	text-decoration: underline;
	font-weight: bold;
}

#content p.errormsg {
	margin-top: 10px;
	background-color: #F33;
	padding: 5px;
	border: 1px solid #A00;
}

#content img {
	margin-top: 3px;
}

#content ol {   	
	line-height: 1.5;
	font-size: 12px;
}

#content ol li {
	margin-left: 50px;
}

#content fieldset {	
	margin-left: 5px;
	padding: 5px;
	border: 1px solid #000;
}

#content legend {
	font-size: 12px;
	background-color: #DDD;
	padding: 5px 50px 5px 50px;
	margin-bottom: 10px;
}

#content table {
	text-align: center;
	font-size: 12px;
}

/* We can do *proper* styling another time */
#content th.header {	
	background-color: #DDD;
	padding: 5px;
}

#content th.fieldHeader {	
	background-color: #DDD;
	padding: 5px;
}

#content td.fieldContent {	
	padding: 5px;
    text-align: left;
}

#content td.fieldError {	
	padding: 5px;
    text-align: left;
}

#content td {
	padding-top: 5px;
	padding-bottom: 10px;
}

#content table a {	
	color: #00275E;
	text-decoration: underline;
}

#content table a:hover {

}

#content table a:visited {
	color: #00275E;
}

#content button {
	padding: 2px 10px 2px 10px;
}

#content button.wide {
	margin-left: 10px;
	padding: 2px 20px 2px 20px;
}

/* NEW FORM STYLING. Phase out the old styling. */
#newform {
	font-size: 12px;
}

#newform td {
	vertical-align: top;
}

#newform form {
	text-align: left;
}

#newform form h1 {
	padding: 7px 0px 7px 5px;
	font-weight: bold;
	background-color: #DDD;
	text-align: center;
}

#newform form p {
	margin: 0px 10px 20px 10px;
	text-align: left;
}

#newform form p.fixed {
	margin: 0px 10px 20px 10px;
	text-align: center;
	height: 50px;
}

#newform fieldset {
	text-align: left;
	border: 0px;
	margin-bottom: 10px;
}

#newform fieldset.fixed {
	margin-bottom: 10px;
	height: 100px;
}

#newform fieldset.right {
	text-align: right;
}

#newform label {
	float: left;
	text-align: left;
	display: block;
	margin-right: 1em;
	width: 130px;
}

#newform input {
	display: block;
	margin: 0px 0px 5px 0px;
	padding: 2px 2px;
	width: 200px;
}

#newform input.datebox {
	width: 50px;
	display: inline;
	margin: 0px 0px 5px 0px;
	padding: 2px 2px;
}

#newform input.checkbox {
	display: block;
	margin: 0px 0px 5px 0px;
	padding: 2px 2px;
	width: 200px; 
}

#newform select {
	display: block;
	margin: 0px 0px 5px 0px;
	width: 200px;	
}

#newform button {
	padding: 4px 20px 4px 20px;
}

#newform span.small {
	font-size: 9px;
	color: #888;
	display: block;
}

/* Footer pane */
#footer {   
  border-top: 1px solid #23344C;
  height: 20px;
  background: #20232B; 
  color: #DDD;
  margin-left: 200px;
}

#footer p {
  padding: 4px;
  margin: 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

#footer a {
  color: #CCC;
  text-decoration: underline;  
}

span.required {  
  color: #F00;
  font-weight: bold;
  font-size: 10px;
}

span.emphasis {
	font-weight: bold;
}

span.filler {
	display: block;
	margin: 0px 0px 5px 0px;
	padding: 5px 2px;
}

.row_odd { background-color: #ddd; }
.row_even { background-color: #eee; }
