[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/huiancg/shadowhand-email.git
[submodule "modules/log"]
	path = modules/log
	url = git://github.com/halkeye/kohana-log.git
[submodule "modules/static"]
	path = modules/static
	url = git://github.com/halkeye/kohana-static.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/nexeck/kohana-pagination.git
[submodule "application/vendor/swiftmailer"]
	path = application/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
