[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/email"]
	path = modules/email
	url = https://github.com/shadowhand/email.git
[submodule "modules/KOstache"]
	path = modules/KOstache
	url = https://github.com/zombor/KOstache.git
[submodule "modules/log"]
	path = modules/log
	url = https://github.com/shadowhand/kohana-log.git
[submodule "modules/static"]
	path = modules/static
	url = git@github.com:halkeye/kohana-static.git
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = https://github.com/kohana/pagination.git
