/* 
   main2.css - uses CSS Reset: 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	overflow-y: auto; /* Prevent the appearance of unnecessary vertical scrollbars in IE7 */
}
body {
	background-color: #20232B; 
	font-family: "Lucida Grande", "Trebuchet MS";
	line-height: 1;
	font-size: 12px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* User defined */
a, a:visited {
	color: #F22C43; 
	text-decoration: underline;
}
a.small_link {
	font-size: 0.65em;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
strong {
	font-weight: bold;
}
span.required {
	color: #F00;
}
table {
	margin: 5px 0;
	vertical-align: middle;
	border: 1px solid #A2B0C8;
}
table.border {
	border: 1px solid #A2B0C8;
}
table th {
	text-align: left;
	background-color: #CCC;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #A2B0C8;
}
table th.header {
	background-color: #A2B0C8;	
}
table td {
	padding: 5px;
	border: 1px solid #A2B0C8;
}
table td.center {
	text-align: center;
}
table td.total_header {
	background-color: #CCC;
}
table td.total {
	font-weight: bold;
}
#container {
	width: 1024px; 
	margin: 20px auto;
	background-color: #FFF;
	font-size: 16px;
}
#menu {
	padding: 8px 0px;
}
#menu ul li {
	display: inline;
	font-size: 0.9em;
}
#menu ul li.header {
	color: #FFF;
	font-weight: bold;
	background-color: #8A0917;
	padding: 8px 40px;	
}
#menu ul li a, #menu ul a:visited {
	text-decoration: underline;
	padding: 8px 10px;
	margin: 0 5px;
}
#menu ul li a:hover, #menu ul a:active {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	background-color: #8A0917;
}
#header {
	height: 200px;  		
	border-top: 3px solid #8A0917;
	border-bottom: 3px solid #445772;
	background: #20232B url('../img/banner.jpg') no-repeat;
}
#header h1 {
	height: 0;
	overflow: hidden;
}
#content {
	padding: 20px;
}
#content h2 {
	color: #8A0917;
	font-size: 1.25em;
	font-weight: normal;
}
#content h3 {
	margin: 5px -10px;
	padding: 7px 10px;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	background-color: #DDD;	
	text-decoration: underline;
}
#content p {
	padding: 5px 0px;
	font-size: 0.9em;
	line-height: 1.5;
}
#content p.h2 {
	color: #B8AE9C;
	font-size: 0.75em;
	margin-bottom: 5px;
	line-height: 1;
}
#content p.msg {
	padding: 5px 5px;
	background-color: #66F59D;
	border: 1px solid #0DD359;
	margin-bottom: 15px;
}
#content p.errormsg {
	padding: 5px 5px;
	background-color: #F99;
	border: 1px solid #A00;
	margin-bottom: 15px;
}
#content p.centerID {
	font-size: 2em;
	text-align: center;
}
#content p.center {
	text-align: center;
}
#content p.warning {
	background-color: #F5E466;
	border: 1px solid #D3BC0D;
}
#content p.warning img {
	float: left;
	margin: 5px 8px;
}
#content form {
	padding: 5px 0px;
}
#content form div {
	border: 0px solid #000;
	margin: 15px 0px;
}
/* Giving the submit button space to itself will fail in IE7. */
#content fieldset {
	padding: 1px 0;
}
#content fieldset.left {
	margin: 10px 0;
}
#content label {
	font-size: 0.9em;
	float: left;
	width: 250px;
	margin-top: -3px;
}
#content label.nosub {
	margin-top: 2px;
}
#content label.nomar {
	width: auto;
	margin-right: 5px;
	margin-top: 5px;
}
/* Hack */
#content label.regid {
	width: auto;
	margin-right: 151px;
	margin-top: 5px;
}
#content label span.small {
	font-size: 0.7em;
	display: block;
	color: #888;
}	
#content input {
	display: block;
	width: 250px;
}
#content input.checkbox {
	margin-left: 132px;
}
#content input.inline {
	display: inline;
	margin-bottom: 0;
}
#content input.comp_prefix {
	display: inline;
	width: 40px;
	background-color: #CCC;
	margin-right: 1px;
	text-align: center;
	border: 1px solid #000;
}
#content select.comp_loc {
	display: inline;
	margin-right: 10px;
}
#content input.comp_id {
	width: 118px;
	display: inline;
}
#content input.submit {
	display: inline;
	width: auto;
}
#content input.fsubmit {
	width: auto;
	float: right;
}
#content select {
	margin: 0;
	padding: 0px 0;
}
#content form fieldset p.errormsg {
	/* The star hack to align error messages properly. */
	position: relative;
	*top: -2px;
	display: inline;	
	padding: 2px 5px;
	border: 0;
}
#content dl.success {
	background-color: #66F59D;
}
#content dl.failure {
	background-color: #F99;
}
#content dt {
	font-weight: bold;
	padding: 5px;
}
#content dd {
	padding: 5px 20px;
}
#dialog p {
	font-family: "Lucida Grande", "Trebuchet MS";
}

#dialog .validateTips {
	padding: 5px 0px;
	margin: 5px 0px;
	color: #F00;
}